`
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <h3 class="text-lg font-bold">
      Saving plan
    </h3>
    <p class="py-4">
      <label for="my-modal-4" class="btn btn-ghost btn-xs">
        Close
      </label>
    </p>
  </label>
</label>