@import 'ember-power-calendar';
@import 'ember-power-select';

//dependancy components:
@import 'vendor/power-calendar';
@import 'vendor/notifications';
@import 'vendor/dropdown';
@import 'vendor/ember-tooltip';
@import 'vendor/power-select';
@import 'vendor/scrollbar';

html {
  //used for example in charts:
  --success-green: rgb(101 163 13);
  --light-gray: rgb(156 163 175 / 0.5);
}

body {
  overflow: hidden;
}

.fade-in-animation {
  animation: 0.2s linear fadeIn;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
