<div class="card bg-base-100 shadow-xl p-8" ...attributes>
  <h2 class="text-xl">
    {{yield to='header'}}
  </h2>
  <div class="card-body flex flex-col justify-between">
    {{yield to='body'}}
  </div>
</div>