<span class="w-fit flex" ...attributes>
  {{unless @hideCurrencySymbol this.currencySymbol}}
  {{#if this.currencyDiffersFromAppCurrency}}
    <span class="ml-1 flex items-center justify-center">
      <FaIcon
        class="text-base text-yellow-600 ml-1"
        @icon="circle-exclamation"
      />
      <Popover>
        <span class="font-bold">
          {{t 'currency-info-component.warning'}}
        </span>
        {{t
          'currency-info-component.warning-content'
          selectedCurrency=@currencyCode
          appCurrency=this.userService.selectedCurrency.code
        }}
      </Popover>
    </span>
  {{/if}}
</span>