<footer
  class="xl:h-9 flex items-center justify-between p-2 xl:p-4 bg-navbar-footer dark:bg-gray-950 text-neutral-content"
  ...attributes
>
  <div class="xl:text-base flex items-center whitespace-nowrap">
    <div class="avatar mr-1">
      <div class="w-4 xl:w-5 rounded">
        <img src="/assets/images/ember-logo.png" alt="Logo" />
      </div>
    </div>
    <span class="text-sm">
      {{t 'footer.built-with'}}
    </span>
  </div>
  <div class="text-right text-xl">
    <SocialMediaIcons />
  </div>
</footer>