<footer
  class="xl:h-14 flex items-center justify-between p-2 xl:p-4 bg-neutral text-neutral-content"
  ...attributes
>
  <div class="text-sm xl:text-base flex items-center whitespace-nowrap">
    <div class="avatar mr-1">
      <div class="w-6 xl:w-10 rounded">
        <img src="/assets/images/ember-logo.png" alt="Logo" />
      </div>
    </div>
    Made with Ember.js
  </div>
  <div class="text-right text-2xl">
    <FaIcon @icon="linkedin" @prefix="fa-brands" class="mr-1" />
    <FaIcon @icon="square-github" @prefix="fa-brands" />
  </div>
</footer>