<footer
  class="xl:h-14 flex items-center justify-between p-2 xl:p-4 bg-navbar-footer text-neutral-content"
  ...attributes
>
  <div class="text-sm xl:text-base flex items-center whitespace-nowrap">
    <div class="avatar mr-1">
      <div class="w-6 xl:w-10 rounded">
        <img src="/assets/images/ember-logo.png" alt="Logo" />
      </div>
    </div>
    {{t 'footer.built-with'}}
  </div>
  <div class="text-right text-2xl">
    <a href={{this.linkedinLink}} target="_blank">
      <FaIcon
        @icon="linkedin"
        @prefix="fa-brands"
        class="mr-1 hover:text-white cursor-pointer"
      />
    </a>
    <a href={{this.githubLink}} target="_blank">
      <FaIcon
        @icon="square-github"
        @prefix="fa-brands"
        class="hover:text-white cursor-pointer"
      />
    </a>
  </div>
</footer>