{{log this.router}}
{{#if this.router.previousRouteName}}
  <LinkTo
    @route={{this.router.previousRouteName}}
    class="btn w-28"
    ...attributes
  >
    <div class="flex whitespace-nowrap">
      <FaIcon @icon="arrow-left" class="mr-1" />
      Go back
    </div>
  </LinkTo>
{{/if}}