{{#if this.previousRoute}}
  {{#if this.queryParams}}
    <LinkTo
      @route={{this.previousRoute}}
      @model={{this.queryParams}}
      class="btn btn-neutral w-28"
      ...attributes
    >
      <div class="flex whitespace-nowrap">
        <FaIcon @icon="arrow-left" class="mr-1" />
        Go back
      </div>
    </LinkTo>
  {{else}}
    <LinkTo
      @route={{this.previousRoute}}
      class="btn btn-neutral w-28"
      ...attributes
    >
      <div class="flex whitespace-nowrap">
        <FaIcon @icon="arrow-left" class="mr-1" />
        Go back
      </div>
    </LinkTo>
  {{/if}}
{{/if}}