<div class="bg-[#3d39a0] h-full flex flex-col xl:p-12 qHd:px-24 text-gray-100">
  <LanguageSwitchButton @backgroundColor="bg-navbar-footer" />
  <div class="mb-24 mt-12">
    <h2 class="font-bold text-3xl mb-3">
      Finance App
    </h2>
    <span class="font-light">
      {{t 'hero-section.description'}}
    </span>
  </div>
  <img src="/assets/images/dashboard.png" class="rounded-lg" />
</div>