<div class="card bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col py-3 px-6">
    <h2 class="text-base text-center text-gray-600">
      Income
      <div class="text-gray-500 text-sm">
        June 2023
      </div>
    </h2>
    <div class="flex justify-center items-center">
      <Modals::AddOrEditMonthlyIncome
        @monthIncome={{this.currentMonthIncome}}
        @onChange={{fn (mut this.currentMonthIncome)}}
      />
    </div>
  </div>
</div>