<a href={{this.linkedinLink}} target="_blank" rel="noopener noreferrer">
  <FaIcon
    @icon="linkedin"
    @prefix="fa-brands"
    class="mr-1 cursor-pointer {{@iconClass}}"
  />
</a>
<a href={{this.githubLink}} target="_blank" rel="noopener noreferrer">
  <FaIcon
    @icon="square-github"
    @prefix="fa-brands"
    class="cursor-pointer {{@iconClass}}"
  />
</a>