<div class="card bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col py-3 px-6 fade-in-animation">
    <h2 class="text-base text-center text-gray-600">
      Spendings
      <div class="text-gray-500 text-sm">
        {{moment-format (now) 'MMMM YYYY'}}
      </div>
    </h2>
    <div class="flex justify-center items-center">
      <Modals::AddOrEditFinanceDataEntry @type="spendings" />
    </div>
  </div>
</div>