<div class="card h-36 bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col justify-start p-6">
    <h2 class="text-lg text-gray-600">
      Total Balance
      <span class="ml-1">
        <FaIcon @icon="circle-info" />
        <Tooltip>
          Your total savings. You can edit it any time
        </Tooltip>
      </span>
      <LinkTo
        @route="finance-overview"
        class="btn btn-sm btn-ghost text-sm float-right"
        type="button"
      >
        <FaIcon @icon="sliders" />
        <Tooltip>
          Open finance overview panel
        </Tooltip>
      </LinkTo>
    </h2>
    <div class="flex justify-center items-center mt-3">
      <Modals::AddOrEditMonthlyTotalSavings
        @totalBalance={{this.totalBalance}}
        @onChange={{this.onChange}}
      />
    </div>
  </div>
</div>