<div class="avatar online">
  <div
    class="w-12 rounded-full bg-slate-400/20 hover:bg-slate-400/40 cursor-pointer text-center"
  >
    <FaIcon @icon="user" class="text-center mt-3.5" />
  </div>
</div>