<BasicDropdown as |dd|>
  <dd.Trigger>
    <div class="avatar online">
      <div
        class="w-12 rounded-full bg-slate-400/20 hover:bg-slate-400/40 cursor-pointer text-center"
      >
        <FaIcon @icon="user" class="text-center mt-3.5" />
      </div>
    </div>
  </dd.Trigger>
  <dd.Content>
    <div class="p-3 shadow-2xl flex flex-col justify-center items-center">
      <span class="font-light mb-3">
        <FaIcon class="mr-0.5" @icon="user" />
        {{this.userService.username}}
      </span>
      <Button
        class="btn-ghost bg-gray-200 dark:bg-gray-900/70 dark:hover:bg-gray-900"
        {{on 'click' this.logout}}
      >
        <FaIcon @icon="right-from-bracket" class="mr-1" />
        {{t 'user-dropdown.logout-button'}}
      </Button>
    </div>
  </dd.Content>
</BasicDropdown>