{{#if @isOpen}}
  <EmberWormhole @to="wormhole">
    <input type="checkbox" id="my-modal-6" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box dark:bg-gray-800">
        <h3 class="text-lg font-bold mb-4 dark:text-gray-200">
          {{yield to='header'}}
        </h3>
        <div class="font-normal dark:text-gray-200">
          {{yield to='body'}}
        </div>
      </div>
    </div>
  </EmberWormhole>
{{/if}}