<Modals::-TriggerButton>
  <div class="tooltip font-light" data-tip="Delete saving plan">
    <span
      class="btn btn-ghost btn-xs"
      {{on 'click' (fn (mut this.isModalOpen) true)}}
    >
      <FaIcon @icon="trash" />
    </span>
  </div>
</Modals::-TriggerButton>
{{#if this.isModalOpen}}
  <Modals::-base>
    <:header>
      Delete saving plan
    </:header>
    <:body>
      Are you sure you want to delete saving plan for
      {{@savingPlan.title}}
      ?
      <div class="flex justify-between items-center mt-5">
        <Modals::-TriggerButton>
          <span class="btn btn-ghost">
            Cancel
          </span>
        </Modals::-TriggerButton>
        <Button {{on 'click' this.deleteSavingPlan}}>
          Confirm
        </Button>
      </div>
    </:body>
  </Modals::-base>
{{/if}}