<div class="h-screen flex flex-col bg-gray-200 overflow-x-hidden">
  <Navbar class="xl:px-32 3xl:px-72 xl:qHd:px-[35rem]" />
  <div class="p-4 flex flex-col w-full h-full overflow-y-auto body-block">
    {{outlet}}
    <div
      id="page-body-wormhole"
      class="xl:absolute xl:flex left-0 xl:top-20 xl:w-full xl:px-32 3xl:px-72 xl:h-3/4 xl:qHd:px-[35rem]"
    ></div>
  </div>
  <Footer class="xl:px-32 3xl:px-72 qHd:px-[35rem]" />
</div>
<NotificationContainer @position="bottom" />
<div id="wormhole"></div>