<div class="h-screen flex flex-col bg-gray-200 overflow-x-hidden">
  <Navbar />
  <div class="p-4 flex flex-col w-full h-full overflow-y-auto body-block">
    {{outlet}}
  </div>
</div>
<NotificationContainer @position="bottom" />
<div id="wormhole"></div>