<div
  class="h-screen flex flex-col bg-gray-200 dark:bg-gray-900 overflow-x-hidden"
>
  {{#if this.isCurrentRouteLoginOrRegister}}
    {{outlet}}
  {{else}}
    <Navbar class="xl:px-32 3xl:px-72 xl:qHd:px-[35rem]" />
    <div class="flex flex-col w-full h-full overflow-y-auto body-block">
      {{outlet}}
      <div
        id="page-body-wormhole"
        class="xl:absolute xl:flex left-0 xl:top-20 xl:w-full xl:px-32 3xl:px-72 xl:h-3/4 xl:qHd:px-[35rem]"
      ></div>
    </div>
    <Footer class="xl:px-32 3xl:px-72 qHd:px-[35rem]" />
    <div id="wormhole"></div>
  {{/if}}
</div>
<NotificationContainer @position="bottom" />