<div class="h-screen flex flex-col bg-gray-200 overflow-x-hidden">
  <Navbar />
  <div class="p-4 flex flex-col w-full h-full overflow-y-auto body-block">
    {{outlet}}
  </div>
  <Footer />
</div>
<NotificationContainer @position="bottom" />
<div
  id="page-body-wormhole"
  class="absolute flex top-20 w-full px-72 h-3/4 qHd:px-[35rem]"
></div>
<div id="wormhole"></div>