{{page-title 'Currency settings'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Currency settings">
    <div class="card h-full bg-base-100 shadow-xl p-8 overflow-auto">
      <CurrencySelection::Dashboard />
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>