{{page-title 'Finance overview'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Finance overview">
    <div class="card h-full bg-base-100 shadow-xl" ...attributes>
      op
    </div>
  </PageLayout>
</EmberWormhole>