{{page-title 'Home'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle={{t 'home-page.title'}}>
    <div class="flex flex-col xl:flex-row gap-12">
      <div class="basis-1/4 flex flex-col justify-between gap-3">
        <TotalBalance class="basis-1/2 min-w-[23rem]" />
        <div class="flex gap-3 basis-1/2">
          <SpendingCard class="basis-1/2" />
          <SavingsCard class="basis-1/2" />
        </div>
      </div>
      <SavingPlansCard class="basis-3/4" />
    </div>
    <div
      class="card bg-base-100 shadow-xl mt-6 qHd:mt-16 pt-2 fade-in-animation min-h-[23rem]"
    >
      <Charts::EconomyOverview class="shrink-0" />
    </div>
  </PageLayout>
</EmberWormhole>