{{page-title 'Home'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Overview">
    <div class="flex">
      <TotalBalance />
      <SavingPlansCard />
    </div>
    monthly earnings
    monthly spendings
  </PageLayout>
</EmberWormhole>