{{page-title (t 'home-page.title')}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle={{t 'home-page.title'}}>
    <div class="flex flex-col xl:flex-row gap-8">
      <div class="basis-1/4 flex flex-col justify-between gap-3">
        <TotalBalance class="basis-1/2 xl:min-w-[23rem]" />
        <div class="flex gap-3 basis-1/2">
          <SpendingCard class="basis-1/2" />
          <SavingsCard class="basis-1/2" />
        </div>
      </div>
      <SavingPlansCard class="basis-3/4" />
    </div>
    <div class="flex flex-col xl:flex-row mt-6 qHd:mt-16 gap-8">
      <div
        class="basis-1/2 card bg-base-100 dark:bg-gray-800 shadow-xl pt-2 fade-in-animation min-h-[25rem]"
      >
        <Charts::TotalBalanceTimeline />
      </div>
      <div
        class="basis-1/2 card bg-base-100 dark:bg-gray-800 shadow-xl pt-2 fade-in-animation min-h-[25rem] mb-12 xl:mb-0"
      >
        <Charts::SavingsSpendingsOverview />
      </div>
    </div>
  </PageLayout>
</EmberWormhole>